/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
}

:root{
    --color-balck: #333333;
    --color-green:#13AB4E;
    --color-white:#FFFFFF;
}

 /* ========== HEADER START =========  */

 /* ========== HEADER END =========   */

 /* ========== HOME START =========   */

 /* ========== HOME  END  =========    */

 /* ========== PARTNERS START ========= */

 /* ========== PARTNERS  END =========  */
 /* ========== HELPS  START=========   */
 .kamroncik .ways_nembly p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #0D7D38;
 }
 .kamroncik .helping p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;   
    width: 818px;
    height: 144px; 
    margin: 0 auto;
 }
 .kamroncik .nimbly_well p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    /* width: 709px;
    height: 64px; */
 }
 .kamroncik .nimbly_well{
    width: 709px;
    height: 64px;
    /* margin-left: 365px; */
    margin: 0 auto;
    margin-bottom: 34px;
 }
 .kamroncik .img{
    /* background: #25292B; */
    /* opacity: 100000; */
    /* margin:0 auto; */
    text-align: center;
 }
 /* ========== HELPS  END =========  */

/* ==========  OUR  FEATURES START =========  */

/* ==========  OUR  FEATURES END =========  */

/* ==========  WORKS  START ========= */

/* ==========  WORKS END ========= */

/* ========== INDUSTRIES START =========  */

/* ========== INDUSTRIES END ========= */

/* ========== CUSTOMER START ========= */

/* ========== CUSTOMER END =========  */

/* ========== CONTACT  START =========  */

/* ========== CONTACT  END =========  */

/* ========== FOOTER START =========  */

/* ========== FOOTER END =========  */

/* =============== EXTRA LARGE  SCREENS   @media   START ================ */
@media screen and (min-width:1201px) {
    .container{
        padding: 0 20px;
    }   
    .kamroncik .ways_nembly p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        color: #0D7D38;
     }
     .kamroncik .helping p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: #333333;   
        width: 818px;
        height: 144px; 
        margin: 0 auto;
     }
     .kamroncik .nimbly_well p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #333333;
        /* width: 709px;
        height: 64px; */
     }
     .kamroncik .nimbly_well{
        width: 709px;
        height: 64px;
        /* margin-left: 365px; */
        margin: 0 auto;
        margin-bottom: 34px;
     }
     .kamroncik .img{
        /* background: #25292B; */
        /* opacity: 100000; */
        /* margin:0 auto; */
        text-align: center;
     }
}
/* ============== EXTRA LARGE  SCREENS   @media   END  =================*/

/* ============== DESKTOPS  LARGE  SCREENS  @media START ================ */
@media screen and (min-width:1025px) and (max-width:1200px) {
    .container{
        padding: 0 20px;
    }   
    .kamroncik .ways_nembly p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        color: #0D7D38;
     }
     .kamroncik .helping p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: #333333;   
        width: 818px;
        height: 144px; 
        margin: 0 auto;
     }
     .kamroncik .nimbly_well p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #333333;
        /* width: 709px;
        height: 64px; */
     }
     .kamroncik .nimbly_well{
        width: 709px;
        height: 64px;
        /* margin-left: 365px; */
        margin: 0 auto;
        margin-bottom: 34px;
     }
     .kamroncik .img{
        /* background: #25292B; */
        /* opacity: 100000; */
        /* margin:0 auto; */
        text-align: center;
     }
}
/* ============== DESKTOPS  LARGE  SCREENS  @media END ================ */


/* ============== SMALL SCREENS LAPTOPS   @media START ================ */
@media screen and (min-width:769px) and (max-width:1024px) {
    .container{
        padding: 0 20px;
    }   
    .kamroncik .ways_nembly p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        color: #0D7D38;
     }
     .kamroncik .helping p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: #333333;   
        width: 818px;
        height: 144px; 
        margin: 0 auto;
     }
     .kamroncik .nimbly_well p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #333333;
        /* width: 709px;
        height: 64px; */
     }
     .kamroncik .nimbly_well{
        width: 709px;
        height: 64px;
        /* margin-left: 365px; */
        margin: 0 auto;
        margin-bottom: 34px;
     }
     .kamroncik .img{
        /* background: #25292B; */
        /* opacity: 100000; */
        /* margin:0 auto; */
        text-align: center;
     }
}
/* ============== SMALL SCREENS LAPTOPS   @media END ================*/

/*  ==============iPADS , TABLETS   @media START ================ */
@media screen and (min-width:481px) and (max-width:768px) {
    .container{
        padding: 0 20px;
    }   
    .kamroncik .ways_nembly p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        color: #0D7D38;
     }
     .kamroncik .helping p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: #333333;   
        width: 818px;
        height: 144px; 
        margin: 0 auto;
     }
     .kamroncik .nimbly_well p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #333333;
        /* width: 709px;
        height: 64px; */
     }
     .kamroncik .nimbly_well{
        width: 709px;
        height: 64px;
        /* margin-left: 365px; */
        margin: 0 auto;
        margin-bottom: 34px;
     }
     .kamroncik .img{
        /* background: #25292B; */
        /* opacity: 100000; */
        /* margin:0 auto; */
        text-align: center;
     }
}
/* ============== iPADS , TABLETS   @media  END ================*/

/* ============== MOBILE  DEVICES   @media START ================*/
@media screen and (min-width:320px) and (max-width:480px) {
    .container{
        padding: 0 20px;
    }   
}
/* ============== MOBILE  DEVICES   @media  END ================*/